<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
    <p>
      {% if site.email %}<a href="mailto:{{ site.email }}">{{ site.email }}</a>{% endif %}
      {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>{% endif %}
      {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">Github</a>{% endif %}
      {% if site.gpg_keys %}<a href="{{ site.gpg_keys }}">GPG Keys</a>{% endif %}
      {% if site.dribbble_username %}<a href="https://dribbble.com/{{ site.dribbble_username }}">Dribbble</a>{% endif %}
      {% if site.codepen_username %}<a href="http://codepen.io/{{ site.codepen_username }}">CodePen</a>{% endif %}
      {% if site.show_rss %}<a href="{{ site.url }}/feed.xml">RSS Feed</a>{% endif %}
    </p>
  </div>
</footer>
