/* ==========================================================================
   Variables
   ========================================================================== */

// Colors
$c__red: #F44336;
$c__pink: #E91E63;
$c__purple: #9C27B0;
$c__deep-purple: #673AB7;
$c__indigo: #3F51B5;
$c__blue: #1565C0;

$c__mat_blue: #0090EA;
$c__yena_yellow: #ffd90a;
$c__yena_grey: #596b72;

$c__light-blue: #03A9F4;
$c__cyan: #00BCD4;
$c__teal: #009688;
$c__green: #4CAF50;
$c__light-green: #8BC34A;
$c__lime: #CDDC39;
$c__yellow: #FFEB3B;
$c__amber: #FFC107;
$c__orange: #FF9800;
$c__deep-orange: #FF5722;
$c__brown: #795548;
$c__grey: #9E9E9E;
$c__light-grey: #FAFAFA;
$c__blue-grey: #607D8B;
$c__black: #000000;
$c__white: #ffffff;

// Rejected
$c__2049_orange: #ffb472;
$c__dark_brown: #42292c;
$c__eva_purple: #7a68ac;

// Redesign
$c__offwhite: #d4e0e3; 
$c__blue_green: #468f32;
$c__blue_green_mod: #367026;
$c__grape: #3e154f;
$c__fuscia: #e4b8da;

// Theme: change this as well as the theme in config.yml.
$t-theme: $c__blue_green; 
$t-headerTheme: $c__grape;
$t-bodyTheme: $c__offwhite; 

$t-nav-bg: $c__grape; 
$t-navText: $c__fuscia;
$t-background: $c__offwhite;
$t-titleText: $c__grape; 
$t-bodyText: $c__grape; 
$t-accent: $c__blue_green_mod;
$t-accent-off: $c__black; 
