/* ==========================================================================
   Layout
   ========================================================================== */

.spread {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

div {
    text-align: justify;
    text-justify: inter-word;
}

.u-container {
  max-width: 116rem; // 1160px
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
