/* ==========================================================================
   Article
   ========================================================================== */

.c-article__main {
  max-width: 76rem; // 760px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  @include fs--body;

  > * {
    margin-bottom: 1.8rem;
    color: rgba($c__black, .7);
  }

  a:not(.c-btn) {
    text-decoration: underline;
  }

  /* TODO: maybe consider adding a different, more readable Atari font for h2 - h4. */
  h1 {
    @include ff--header(500);
  }

  blockquote {
    margin-left: -2.2rem;
    width: calc(100% + 4.4rem);
    padding: 2.25rem;
    background: $c__light-grey;
  }

  aside {
    padding: 2.5rem;
    background: $c__light-grey;
  }

  code {
    font-family: monospace,monospace;
  }

  ul, ol {
    margin-left: 40px;
  }

  .post-list {
    margin-left: 0;
    list-style: none;
  }

  .post-link {
    display: block;
    @include relative-font-size(1.4);
  }

  table.listening-to {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

    thead th:nth-child(1) {
      width: 10%;
    }

    thead th:nth-child(2) {
      width: 40%;
    }

    thead th:nth-child(3) {
      width: 50%;
    }
    
    th, td {
      padding: 10px;
    }

    tr {
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $t-nav-bg;
    }

    tr:last-child {
      border-bottom-style: none;
    }

    th:nth-child(1), td:nth-child(1) {
      padding: 0px;
      padding-bottom: 5px;
      padding-top: 5px;
    }

    img {
      width: auto;
      height: auto;
    }

    @media only screen and (max-width : 480px)
    {
        /* Smartphone view: 1 tile */
        td
        {
        font-size: $base-font-size * 0.7;
        }
    }
  }
}

blockquote {
  border-style: double;
  border-color: $t-headerTheme;
  border-width: 4px;
}
