/* ==========================================================================
   Blue Theme
   ========================================================================== */

.t-blue{
  background: $t-background;

  .c-navigation {
    background: $t-nav-bg;
  }
  .c-header {
    background: $t-background;
  }

  .c-article__main {
    p, section, li, h2, h3, h1 {
      color: $t-bodyText; 
    }

    a:not(.c-btn) {
      color: $t-accent;
    }
    a:visited {
      color: $t-accent-off;
    }
  }

  .c-header__title {
    color: $t-titleText; 
  }

  .c-navigation__item {
    color: $t-navText; 

    &:hover:after,
    &.is-active:after {
      background: $t-navText; 
    }
  }

  .c-footer {
    background: $t-background;
    color: $t-bodyText;
    a {
      color: $t-accent-off;
    }
  }
  .headerImgW img {
    border:1px solid $t-background;
  }

  .headerImgW:after {
    background: radial-gradient(ellipse at center, rgba($c__white, 0) 50%,$t-background 90%,$t-background 100%);
  }
}
