/* ==========================================================================
   Blue Theme
   ========================================================================== */

.t-blue{
  background: $c__mat_blue;

  .c-navigation,
  .c-header {
    background: $c__mat_blue;
  }

  .c-article__main {
    p {
      color: $c__white; 
    }

    a:not(.c-btn) {
        color: $c__yena_yellow;
    }
  }

  .c-header__title {
    color: $c__yena_yellow;
  }

  .c-navigation__item {
    color: $c__yena_yellow;

    &.is-active:after {
      background: $c__yena_yellow;
    }
  }

  .c-footer a {
    color: $c__mat_blue;
  }
  .headerImgW img {
    border:1px solid $c__mat_blue;
  }

  .headerImgW:after {
    background: radial-gradient(ellipse at center, rgba($c__white, 0) 50%,$c__mat_blue 90%,$c__mat_blue 100%);
  }
}
