/* ==========================================================================
   Grey Theme
   ========================================================================== */

.t-purple {

  .c-navigation,
  .c-header {
    background: $c__deep-purple;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__deep-purple;
  }

  .c-footer a {
    color: $c__deep-purple;
  }
  .headerImgW img {
    border: 1px solid $c__deep-purple;
  }
  
  .headerImgW:after {
    background: radial-gradient(ellipse at center, rgba($c__white, 0) 50%,$c__deep-purple 90%,$c__deep-purple 100%);
  }
}
