---
layout: default
---

<article class="c-article">
  <header class="c-header c-article__header">
    <div class="u-container">
      <h1 class="c-header__title">Home</h1>
      <div class="headerImgW" ><img class="headerImg" src="assets/headers/intense.jpg" 
                                    alt="A picture of Bryce, looking intense"></div>
      <p></p>
    </div>
  </header>

  <div class="c-article__main">
    {{ content }}
    <p>
        I'm Bryce, software engineer at <a href="https://rtr.ai">Realtime Robotics</a> living in Boston, MA.
        My focus is in autonomous motion planning algorithms for robots and autonomous cars.
    </p>

  </div>

</article>
