---
layout: default
---

<article class="c-article">
  <header class="c-header c-article__header">
    <div class="u-container">
      <h1 class="c-header__title">Home</h1>
      <div class="headerImgW" ><img class="headerImg" src="assets/headers/cool_in_NY.jpg"></img></div>
      <p></p>
    </div>
  </header>

  <div class="c-article__main">
    {{ content }}
    <section>
    Hi, I'm Bryce, a Master's Student at Rice University working in the 
    <a href="http://www.kavrakilab.org">Kavraki Lab</a> with  
    <a href="https://www.cs.rice.edu/~kavraki/">Lydia Kavraki</a> and 
    <a href="https://www.cs.rice.edu/~mmoll/">Mark Moll</a> 
    on autonomous robotic motion.
    </section>

  </div>

</article>
