---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
    <div class="u-container">
      <h1 class="c-header__title">{{ page.title }}</h1>
      <!-- Note! Header images should try to be less than 315 height to
           limit the size of the header banner. -->
      {% if page.headerImg %} 
        <div class="headerImgW"><img class="headerImg" src="{{ page.headerImg }}"></img></div>
        <p></p>
      {% endif %}
    </div>
  </header>

  <div class="c-article__main">
    {{ content }}
  </div>
</article>
