---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
    <div class="u-container">
      <h1 class="c-header__title">{{ page.title }}</h1>
      <!-- Note! Header images should try to be less than 315 height to
           limit the size of the header banner. -->
      <!-- https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images#art_direction -->
      {% if page.headerImg %} 
        <picture class="headerImgW {{page.headerImg.class}}">
          <source media="(max-width: 799px)" srcset="{{ page.headerImg.narrow }}">
          <source media="(min-width: 800px)" srcset="{{ page.headerImg.src }}">
          <img class="headerImg {{page.headerImg.class}}" src="{{ page.headerImg.src }}"
               width="{{ page.headerImg.width }}"
               height="{{ page.headerImg.height }}"
               alt="{{ page.headerImg.alt }}">
        </picture>
        <p></p>
      {% endif %}
      {% if page.date %}
      <p class="c-header__subtitle">{{ page.date | date_to_string: "ordinal", "US" }}</p>
      <p class="c-header__subtitle">{{ page.content | number_of_words }} words (~{{ page.content | number_of_words | to_integer | divided_by: 199 }} minutes)</p>
      {% endif %}
    </div>
  </header>

  <div class="c-article__main">
    {{ content }}
  </div>
</article>
