/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
  padding-top: 1.5rem; // 75px
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  height: 50px;
  background: $t-bodyTheme;

  p {
    @include fs--meta;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    gap: 20px 10px;
  }

  a:not(:first-of-type) {
    margin-left: 2rem;
  }
}

.c-footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;

  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
}
