/* ==========================================================================
   Navigation
   ========================================================================== */

.spacer {
  flex-grow: 1;
}

.nav-container {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.c-navigation {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2.5rem;
  width: 100%;
  z-index: 10;
  background: $t-nav-bg;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(#000, .25), rgba(#000, 0));
  }

  &.is-fixed {
    position: fixed;
    will-change: transform;
  }

  #nav-trigger:focus ~ label,
  #nav-trigger:active ~ label {
    outline: blue medium auto;
  }

}

.nav-item {
  position: relative;
  display: inline-block;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @include ff--sans-serif(500);
  @include fs--meta;
  color: $t-navText;
  text-transform: uppercase;

  &:not(:last-of-type) {
    margin-right: 2.5rem;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background ease-in-out 0.2s;
  }

  &:hover:after,
  &.is-active:after {
    background: $t-navText;
  }
}

// Hide the page drawer when we're not using it.
#nav-trigger {
  display: none;
}

nav label {
  display: none;
}

nav {
  flex-direction: row;
}

nav a {
  display: initial;
}


// Handle the page nav drawer.
@include media-query($on-palm) {
   label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
      padding-top: 2.5rem;
    }

    .c-navigation .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      //padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $c__white;
      }
    }

    #nav-trigger {
      display: block;
    }

    #nav-trigger ~ .trigger {
      clear: both;
      display: none;
    }

    #nav-trigger:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }
}

/* from https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
