
@font-face {
  font-family: 'Atari-Fancy37';
  font-weight: 500;
  src: url('/assets/EightBit-Atari-Fancy37/EightBit-Atari-Fancy37.woff') format('woff'),
       url('/assets/EightBit-Atari-Fancy37/EightBit-Atari-Fancy37.ttf') format('truetype');
  font-display: swap;
}